<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peken - Belanja buah dan sayur pilihan dengan kualitas segar dan harga terjangkau</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <base href="/">
</head>
<body>
    <nav>
        <div class="container flex-between">
            <div class="webName flex-left">
                <img src="img/plant.svg" width="35"  alt="">
                <h3>PEKEN</h3>
            </div>
            <form action="/search" method="GET">
                <input type="text" name="key" placeholder="Cari sayur dan buah segar berkualitas" autocomplete="off">
            </form>
            
            <div class="flex-right">
                <div class=" flex-right" >
                    <p class="sumCart"><%= (totHarga!=0)?totHarga : ''%> </p>
                    <div class="cart">
                        <img src="img/cart.svg"  height="20" alt="">
                        <span><%= (count!=0)? count : '' %> </span>
                    </div>
                </div>
                <button class="button-soft" onclick="modal()"><%= username %> </button>
            </div>
        </div>
    </nav>

    <div class="container">
        <main >

            <article class="flex-between-top display-product"  >
                <div class="image-box">
                    <img src="image-data/default-placeholder.png" class="productImage" height="500" alt="">
                </div>
                <div class="right">
                    <section class="product-b">
                        <div class="top">
                            <p class="farm">lorem</p>
                            <h1>Lorem ipsum dolor sit amet consectetur.</h1>
                            <p class="note">Lorem, ipsum.</p>
                        </div>
                        <div class="bottom">
                            <p class="price">Rp. 000.000<span>/lorem</span></p>
                            <div class="flex-left">
                                <div class="cart-p">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                </div>
                                <p class="stock">00 lorem</p>
                            </div>
                            
                        </div>
                    </section>
                    <div class="description">
                        <h4 class="desc">Deskripsi Produk</h4>
                        <p class="desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam vero fuga, a repudiandae obcaecati, quos libero architecto error iusto ullam corrupti perferendis debitis ducimus optio explicabo eum? Totam, quisquam optio.</p>
                    </div>

                </div>
            </article>
            <article class="relateProduct">
                <h4>Produk terkait</h4>
                <div class="box-product">
                    <section class="product">
                        <a href="">
                            <img src="image-data/default-placeholder.png" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="">
                                    <p class="name">Lorem ipsum dolor sit.</p>
                                </a>
                                <p class="note">Lorem, ipsum.</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price" data-sum=0>Rp 000.000</p>
                                <div class="cart-p">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section> 
                    <section class="product">
                        <a href="">
                            <img src="image-data/default-placeholder.png" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="">
                                    <p class="name">Lorem ipsum dolor sit.</p>
                                </a>
                                <p class="note">Lorem, ipsum.</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price" data-sum=0>Rp 000.000</p>
                                <div class="cart-p">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section> 
                    <section class="product">
                        <a href="">
                            <img src="image-data/default-placeholder.png" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="">
                                    <p class="name">Lorem ipsum dolor sit.</p>
                                </a>
                                <p class="note">Lorem, ipsum.</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price" data-sum=0>Rp 000.000</p>
                                <div class="cart-p">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section> 
                    <section class="product">
                        <a href="">
                            <img src="image-data/default-placeholder.png" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="">
                                    <p class="name">Lorem ipsum dolor sit.</p>
                                </a>
                                <p class="note">Lorem, ipsum.</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price" data-sum=0>Rp 000.000</p>
                                <div class="cart-p">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section> 
                    <section class="product">
                        <a href="">
                            <img src="image-data/default-placeholder.png" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="">
                                    <p class="name">Lorem ipsum dolor sit.</p>
                                </a>
                                <p class="note">Lorem, ipsum.</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price" data-sum=0>Rp 000.000</p>
                                <div class="cart-p">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section> 
                    
                </div>
           
            </article>

            

        </main>
    </div>

    <footer>
    </footer>

<script src="script/script.js"></script>
<script src="script/detail.js"></script>
</body>
</html>