<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peken - Belanja buah dan sayur pilihan dengan kualitas segar dan harga terjangkau</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    
    <nav>
        <div class="container flex-between">
            <a class="webName flex-left" href="/">
                <img src="img/plant.svg" width="35"  alt="">
                <h3>PEKEN</h3>
                <p> | Keranjang saya</p>
            </a>            
            <div class="flex-right">
                <button class="button-soft">login</button>
            </div>
        </div>
    </nav>

    <div class="container">
        <main>
            <p># 20 item ada di keranjang anda </p>
            <article>
                <div class="box-product-cart">
                    <section class="product-c">
                        <div class="flex-left">
                            <a href="">
                                <img src="image-data/default-placeholder.png" height="130" class="productImage" alt="">
                            </a>
                            <div class="labelProduct">
                                <a href="">
                                    <p class="name">Lorem ipsum dolor sit.</p>
                                </a>
                                <p class="note">Lorem, ipsum.</p>
                                <p class="price" data-sum=0>Rp 000.000</p>
                            </div>
                        </div>
                        
                            <div class="nameProduct">
                            </div>
                            <div class="bawah flex-between">
                                <div class="cart-p">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section> 
                    <section class="product-c">
                        <a href="">
                            <img src="image-data/default-placeholder.png" height="130" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="">
                                    <p class="name">Lorem ipsum dolor sit.</p>
                                </a>
                                <p class="note">Lorem, ipsum.</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price" data-sum=0>Rp 000.000</p>
                                <div class="cart-p">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section> 
                    <section class="product-c">
                        <a href="">
                            <img src="image-data/default-placeholder.png" height="130" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="">
                                    <p class="name">Lorem ipsum dolor sit.</p>
                                </a>
                                <p class="note">Lorem, ipsum.</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price" data-sum=0>Rp 000.000</p>
                                <div class="cart-p">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section> 
                    <section class="product-c">
                        <a href="">
                            <img src="image-data/default-placeholder.png" height="130" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="">
                                    <p class="name">Lorem ipsum dolor sit.</p>
                                </a>
                                <p class="note">Lorem, ipsum.</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price" data-sum=0>Rp 000.000</p>
                                <div class="cart-p">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section> 
                    <section class="product-c">
                        <a href="">
                            <img src="image-data/default-placeholder.png" height="130" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="">
                                    <p class="name">Lorem ipsum dolor sit.</p>
                                </a>
                                <p class="note">Lorem, ipsum.</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price" data-sum=0>Rp 000.000</p>
                                <div class="cart-p">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section> 
                    
                </div>
           
            </article>

            

        </main>
    </div>

    <footer>
    </footer>

<script src="script/script.js"></script>
<script src="script/home.js"></script>
</body>
</html>