<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peken - Belanja buah dan sayur pilihan dengan kualitas segar dan harga terjangkau</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <nav>
        <div class="container flex-between">
            <div class="webName flex-left">
                <img src="img/plant.svg" width="35"  alt="">
                <h3>PEKEN</h3>
            </div>
            <input type="text" name="search" placeholder="Cari sayur dan buah segar berkualitas">
            
            <div class="flex-right">
                <div class="wish-cart flex-left" >
                    <div class="love">
                        <img src="img/md-heart-empty.svg"  height="20" alt="">
                        <span>9</span>
                    </div>
                    <div class="cart">
                        <img src="img/cart.svg"  height="20" alt="">
                        <span></span>
                    </div>
                </div>
                <div class="login-box flex-left">
                    <button class="button-soft">Masuk</button>
                    <button class="button">Daftar</button>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <main>
            <div class="flex-between-top ">
                <div>
                    <h3>Hasil Pencarian</h3>
                    <p class="litle-p">34 Hasil untuk Produk wortel</p>
                </div>
                <div class="flex-right">
                    <img src="img/sort-down.svg" height="1" alt="">
                    <div class="select" onclick="openSelect(event)"  tabindex="-1" data-fcs='false' unselectable="on">
                        <div class="flex-between button-select">
                            <input type="text" id="arrangeInput" disabled=true value="Paling sesuai">
                            <img src="img/arrow-close.svg" height="6" alt="">
                        </div>
                        <div class="option">
                            <div>Paling sesuai</div>
                            <div>Harga Terendah</div>
                            <div>Harga Tertinggi</div>
                            <div>A - Z</div>
                            <div>Z - A</div>
                        </div>
                    </div>
                </div>
            </div>




            <article>
                <div class="box-product">
                    <section>
                        <div class="love-p" data-active="false">
                                <img src="img/md-heart-empty.svg" alt="">
                        </div>
                        <a href="">
                            <img src="../image/1600055971-1201030104-1.jpeg" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="">
                                    <p class="name">Daun Kemangi Pack 250 gr</p>
                                </a>
                                <p class="note">250 gr / pack</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price">Rp 145.000</p>
                                <div class="cart-p">
                                    <button class="button "  onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div onclick="minCart(this)">-</div>
                                        <input type="number" min=0 value=1>
                                        <div onclick="plusCart(this)">+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="love-p" data-active="false">
                                <img src="img/md-heart-empty.svg" alt="">
                        </div>
                        <a href="">
                            <img src="../image/1600055971-1201030104-1.jpeg" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="">
                                    <p class="name">Daun Kemangi Pack 250 gr</p>
                                </a>
                                <p class="note">250 gr / pack</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price">Rp 145.000</p>
                                <div class="cart-p">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div onclick="minCart(this)">-</div>
                                        <input type="number" min=0 value=1>
                                        <div onclick="plusCart(this)">+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="love-p" data-active="false">
                                <img src="img/md-heart-empty.svg" alt="">
                        </div>
                        <a href="">
                            <img src="../image/1600055971-1201030104-1.jpeg" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="">
                                    <p class="name">Daun Kemangi Pack 250 gr</p>
                                </a>
                                <p class="note">250 gr / pack</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price">Rp 145.000</p>
                                <div class="cart-p">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div onclick="minCart(this)">-</div>
                                        <input type="number" min=0 value=1>
                                        <div onclick="plusCart(this)">+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="love-p" data-active="false">
                                <img src="img/md-heart-empty.svg" alt="">
                        </div>
                        <a href="">
                            <img src="../image/1600055971-1201030104-1.jpeg" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="">
                                    <p class="name">Daun Kemangi Pack 250 gr</p>
                                </a>
                                <p class="note">250 gr / pack</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price">Rp 145.000</p>
                                <div class="cart-p">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div onclick="minCart(this)">-</div>
                                        <input type="number" min=0 value=1>
                                        <div onclick="plusCart(this)">+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="love-p" data-active="false">
                                <img src="img/md-heart-empty.svg" alt="">
                        </div>
                        <a href="">
                            <img src="../image/1600055971-1201030104-1.jpeg" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="">
                                    <p class="name">Daun Kemangi Pack 250 gr</p>
                                </a>
                                <p class="note">250 gr / pack</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price">Rp 145.000</p>
                                <div class="cart-p">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div onclick="minCart(this)">-</div>
                                        <input type="number" min=0 value=1>
                                        <div onclick="plusCart(this)">+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section>            
                </div>  
            </article>

          

        </main>
    </div>

    <footer>
    </footer>

<script src="script/index.js"></script>
</body>
</html>