@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --hijau : #289672;
    --hitam : #222831;
    --shadow : rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    box-sizing: border-box;
}
body{
    background-color: #FBFBFB;
    padding-top: 75px;
    position: relative;
}
main{
    min-height: calc(100vh - 262px);
    height: auto;
}
a{
    text-decoration: none;
    color: inherit;
}
h1{
    font-size: 25px;
    color: var(--hijau)
}
h2{
    font-size: 16px;
    color: var(--hijau)
}
h3{
    font-size: 20px;
    color: var(--hijau)
}
h4{
    font-size: 14px;
    font-weight: 600;
    color: var(--hitam)
}
.container{
    width: 100%;
    max-width: 1080px;
    padding: 0 20px;
    margin: 0 auto; 
}
.flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.flex-between-top{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    gap: 10px;

}
.flex-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.flex-left-top{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
.flex-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}
.button{
    display: block;
    padding: 5px 20px;
    outline: none;
    width: max-content;
    border: 1px solid var(--hijau);
    color: white;
    background-color: var(--hijau);
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}
.button-litle{
    width: max-content;
    display: block;
    padding: 3px 20px;
    outline: none;
    border: 1px solid var(--hijau);
    color: var(--hijau);
    border-radius: 5px;
    cursor: pointer;
    font-size: 9.5px;
    text-align: center;
}
.button-soft{
    display: block;
    padding: 5px 20px;
    outline: none;
    border: 1px solid var(--hijau);
    color:var(--hijau);
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}
.bgmodal{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(128, 128, 128, 0.514);
    position: absolute;
    z-index: 200;
    opacity: 0.8;
}
.modal{
    max-width: calc(100% - 20px);
    left: 0; 
    right: 0; 
    margin: 60px auto auto; 
    top: 0;
    bottom: 0;
    position: fixed;
    width: max-content;
    height: max-content;
    max-height: 550px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: var(--shadow);
    background-color: white;
    z-index: 300;
    transition:  500ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
    animation: munculdariatas 300ms ;
    overflow: auto;
}
.closeModal{
    position: absolute;
    top: 8px;
    right: 8px;
    transform: rotate(45deg);
    width: 20px;
    cursor: pointer;
}

/* ======== MODAL CONTENT ======== */

/* Login */

.login >h3{
    color: var(--hitam);
    margin: 10px 0;
    text-align: center;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.google-button{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 260px;
    width: 260px;
    height: 28px;
    color: white;
    background-color: #4081EC;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}
.google-button img{
    margin-right: 20px;
}

/* profil */

.profile{
    text-align: center;
    min-width: 300px;
}
.profile h2{
    margin: 25px 0;
}
.profile a{
    font-weight: 500;
    display: block;
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.432);
}

/* ======== ALL PAGE ========*/

nav{
    width: 100%;
    height: 55px;
    box-shadow: var(--shadow);
    background-color: white;
    position: fixed;
    z-index: 100;
    top: 0;
}
nav .container{
    width: 100%;
    height: 100%;
    gap: 20px;
}
nav form{
    width: 100%;
}
nav input[type=text]{
    height: 35px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--hijau);
    padding: 0 20px;
    width: 100%;
}
header{
    margin:20px 0;
}
header > img{
    max-width: 450px;
}
.box-product{
    display: grid;
    padding: 20px 0;
    gap:20px 15px;
    grid-template-columns: repeat( auto-fill, minmax(180px, 1fr) );
    grid-template-rows: auto ;
}
.product:hover{
    box-shadow: var(--shadow);
    transform: translateY(-3px);
}
.product{
    max-width:200px;
    border-radius: 5px;
    transition: height 5s ;
    background-color: white;
    border: 1px solid #e1e5ea;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    transition:  transform 300ms;
    margin: 0 auto;
}
.product .productImage{
    height: 100%;
    width: 100%;
}
.product .labelProduct{
    padding: 10px ;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.name {
    font-size: 14px;
    font-weight: 600;
}
.product .note{
    font-size: 10.5px;
    margin-top: 8px;
    word-break:break-word;
}
.product .price{
    font-size: 14px;
    font-weight: 600;
}
.product .price span{
    font-size: 9.5px;
    font-weight: normal;
}
.product .bawah{
    margin-top: 20px;
    width: 100%;
    height: 20px;
}
.product .bawah *{
    height: 100%;
}
.cart-p{
    width: 90px;
    height: 24px;
    display: flex;
    justify-content: center;
}
.cart-p button{
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: 11px;
    border-radius: 3px;
}
.cart-n{
    width: 100%;
    display: none;

}
.cart-n div{
    width: 20px;
    height: 20px;
    color:white;
    border-radius: 5px;
    line-height: 20px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    background-color: var(--hijau);
    cursor: pointer;
    -ms-user-select: none; 
    user-select: none;
}
.cart-n input{
    height: 100%;
    width: 35px;
    display: block;
    -moz-appearance: textfield;
    text-align: center;
    border: none;
    outline: none;
    font-size: 13px;
    background-color: initial;
} 
.product .love-p{
    position: absolute;
    background-color: rgba(245, 245, 245, 0.35);
    top: 8px;
    right: 8px;
}
footer{
    padding: 10px 0;
    margin-top: 30px;
    width: 100%;
    /* height: 50px; */
    background-color: var(--hijau);
}
footer .webName img{
    margin-bottom: 5px;
}
footer h3 , footer h4 ,footer b ,footer p, footer a{
    color: white;
    display: block;
}
footer > div > div:first-child > *{
    margin: 15px 0;
}
footer > div > div:last-child{
    text-align: right;
    max-width: 250px;
}
footer > div > div:last-child > *{
    margin: 8px 0;
}
footer .sosmed img{
    margin: 10px 4px 0;
}
.cartbox{
    padding: 2px 10px 2px 0;
    border-radius: 5px;
    width: auto;
    cursor: pointer;
}
.cartbox:hover{
    background-color:#f5f4f4;
}
.cart{
    position: relative;
    cursor: pointer;
}
.sumCart{
    font-size: 14px;
    font-weight: 500;
    width: max-content;
    text-align: right;
    padding: 0 5px;
}
.cart span {
    font-size: 9.5px;
    color: white;
    position: absolute;
    background-color: var(--hijau);
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 18px;
    border-radius: 5px;
    right: -6px;
    bottom: 0;
    opacity: 0.9;
}
.cart span:empty{
    visibility: hidden;
}

/* ======== HOME PAGE======== */

.box-category{
    padding:  20px 0;
    display: grid;
    gap:20px 15px;
    grid-template-columns: repeat( auto-fit, minmax(280px, 1fr) );
}
.box-category section{
    height: 120px;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}
.box-category section:hover{
    box-shadow: var(--shadow);
}
.box-category a section{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(55,227,181,1) 0%, rgba(78,228,126,0.54) 90% );    
}
.box-category h3{
    margin: 10px 0 25px 0;
    color: white;
}
.box-category img{
    position: absolute;
    right: 0;
    bottom: -8px;
}

/* ======== DETAIL PAGE======== */

.display-product{
    margin-bottom: 30px;
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat( auto-fit, minmax(280px, 1fr) );

}
.display-product .right{
    width: 100%;
}
.image-box{
    overflow: hidden;
    border-radius: 8px;
    width: 100%;
}
.image-box *{
    width: 100%;
}
.product-b{
    width: 100%;
    height: 300px;
    border-radius: 5px;
    padding: 25px;
    transition: height 5s ;
    box-shadow: var(--shadow);
    background-color: white;
    border: 1px solid #e1e5ea;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    transition:  transform 300ms;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-b .farm{
    font-weight: 600;
    font-size: 14px;
    width: max-content;
    color: var(--hitam);

}
.product-b h1{
    margin: 5px 0;
}
.product-b .note{
    font-size: 13px;
    width: max-content;
}
.product-b .price{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}
.product-b .price span{
    font-weight: 400;
}
.product-b .stock{
    margin-top: 10px;
}
.product-b .cart-p{
    width: 150px;
    height: 32px;
}
.product-b .cart-p button{
    width: 150px;
    height: 32px;
    font-size: 14px;
    font-weight: 500;
    display: block;
}
.product-b .cart-n{
    display: none;

}
.product-b .cart-n div {
    height: 100%;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.product-b .cart-n input {
    font-size: 16px;
    width: 70px;
    border-radius: 5px ;
}
.description {
    margin-top: 20px;
    padding: 3px;
}
.description p {
    border-top: 1px solid rgba(128, 128, 128, 0.582);
    margin-top: 5px;
    padding-top: 5px;
    font-size: 1.07em;
    line-height: 18px;
}

/* ======== ORDER PAGE======== */

.pesananbox{
    margin-top: 20px;
    background-color: white;
    box-shadow: var(--shadow);
    padding: 20px;
    width: 100%;
    border-radius: 5px;

}
.pesananbox > div {
    padding-top: 10px;
    margin-bottom: 30px;
    border-top:1px solid rgba(128, 128, 128, 0.596);
}
.pesananbox > div:first-child {
    border-top:none;
    padding-top: 0;
}
.pesanan{
    background-color: white;
    box-shadow: var(--shadow);
    padding: 5px 20px ;
    width: 100%;
    margin: 15px 0;
    border-radius: 5px;
}
.pesanan > div:first-child{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill , minmax(150px, 1fr));
}
.pesanan > div > div > b{
    margin: 8px 0;
    display: block;
}
.pesanan b{
    font-weight: 600;
}
.pesanan > div{
    padding: 10px 0;
}
.pesanan > div:first-child{
    border-bottom: 1px solid rgba(128, 128, 128, 0.596);
    padding: 15px 0;
}
.detailpesanan{
    width: 500px;
}
.detailpesanan > div{
    padding: 0 10px 15px ;
    margin-top: 15px;
}
.detailpesanan > div:first-child > div{
    padding: 10px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.514);
}
.detailpesanan > div:first-child > div:last-child{
    border: none;
}
.detailpesanan h4{
    margin-bottom: 5px;
}

/* ======== PRODUCT PAGE======== */

.ctgr{
    margin-bottom: 20px;
    display: flex;
}
.ctgr>*{
    margin-right: 13px;
}
.select{
    width: 180px;
    height: 28px;
    padding: 0 15px 0 0; 
    border-radius: 3px;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.467);
    cursor: pointer;
    position: relative;
    outline: none;
    -ms-user-select: none; 
    user-select: none; 
}
.select .flex-between img{
    margin-left: -20px;
}
.select input{
    margin-left: 15px;
    height: 25px;
    width: 150px;
    border: none;
    background-color: inherit;
}
.select *{
    cursor: pointer;
}
.select .option{
    width: 180px;
    position: absolute;
    z-index: 1000;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: var(--shadow);
    left: 0;
    top: 35px;
    display: none;
}
.select .option div{
    padding: 8px 5px;
    margin: 2px 0;
    border-radius: 3px;
}
.select .option div:hover{
    background-color: rgb(245, 245, 245);
}
.show{
    display: initial !important;
}
.more{
    height: 35px;
    border-radius: 0;
    line-height: 24px;
    margin: 10px auto 0;
}

/* ======== CART PAGE======== */

.cartlist{
    background-color: white;
    padding: 5px 20px;
    box-shadow: var(--shadow);
    border-radius: 5px;
    flex-grow: 1 ;
}
.box-product-cart:empty{
    content: 'tidak ada produk di keranjang';
    background-color: #e1e5ea !important;
    visibility: hidden;
}
.product-c {
    padding: 15px 5px;
    position: relative;
}
.product-c .name{
    margin-bottom: 5px;
}
.product-c .stock{
    margin-top: 5px;
    position: absolute;
    text-align: right;
    width: max-content;
    right: 5px;
}
.product-c .cart-p{
    width: 100px;
    height: 30px;
}
.product-c .button{
    width: 100%;
} 
.product-c .closecart{
    color: red;
    cursor: pointer;
}
.cobx{
    margin: 20px 0;
    background-color: white;
    box-shadow: var(--shadow);
    border-radius: 5px;
    padding: 20px;
}
.product-c .labelProduct{
    width: 100%;
}
.cobx .cart{
    cursor:initial;
    margin-bottom: 5px;
}
.cobx .cart span{
    position: static;
    background-color: initial;
    color: initial;
    font-size: 14px;
}
.cobx .sumCart{
    text-align: left;
}
.pointereventnone{
    pointer-events: none;    
}

/* ======== CHECKOUT PAGE======== */

.checkoutpage{
    display: grid;
    grid-template-columns: 1.9fr 1.4fr;
    grid-auto-rows: min-content;
    gap: 15px;
}
.checkoutlist{
    background-color: white;
    padding: 5px 20px;
    box-shadow: var(--shadow);
    border-radius: 5px;
    width: 100%;
    height: max-content;
    grid-area: 2 / 1 / span 2 / 2
}
.alamatsection{
    padding: 20px;
    width: 100%;
    box-shadow: var(--shadow);
    border-radius: 5px;
    grid-area: 1 / 1 / span 1 / -1;
    background-color: white;
}
.alamat{
    width: 540px;
}
select, .alamat input{
    width: 100%;
    height: 35px;
    margin-top: 12px;
    padding: 5px 10px;
    border: 1px solid gray;
    outline: none;
    border-radius: 3px;
}
.alamat input[type=submit]{
    height: auto;
    border: none;
}
.editAlamat, .ubahOngkir{
    font-weight: 500;
    cursor: pointer;
    color: var(--hijau);
} 
.alamatdisp{
    width: 100%;
    margin-top: 5px;
}
.alamatbox .button{
    width: 140px;
    margin-top: 15px;
}
.checkout{
    background-color: white;
    box-shadow: var(--shadow);
    border-radius: 5px;
    padding:20px;
}
.rincianBay >div{
    padding: 10px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.514);
}
.rincianBay >div:last-child{
    border: none;
}
.rincianBay b{
    text-align: right;
}
.medBayar >*:first-child ,.medBayar >*:nth-child(2){
    padding: 15px ;
    margin-top: 15px;
    border-radius: 3px;
    border: 1px solid rgba(128, 128, 128, 0.479);
}
.medBayar .ket{
    padding: 10px;
    margin-top: 10px;
    display: none;
    background-color:aliceblue;
}
.medBayar .pilih{
    display: none;
}
.medBayar .error{
    border: 1px solid red !important;
    height: 30px;
    text-align: center;
    color: red;
    line-height: 30px;
    padding:  0 10px !important;
}

/* ======== BAYAR PAGE======== */

.bayar{
    max-width: 500px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    box-shadow: var(--shadow);
}
.bayar > *{
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e1e5ea;
}
.bayar > *:last-child{
    border: none;
    padding: 0;
    margin: 0;
}
.bayar .warning{
    color: tomato;
    padding: 10px;
    border: none;
    border-radius: 5px;
    border: 1px solid tomato;
}
.bayar p {
    display: block;
    margin-bottom: 8px;
}
.bayar ol{
    margin-left: 13px;
}

/* ======== ATRIBUT ======== */

.loading {
    display: block;
    color: rgba(255, 255, 255, 0) !important;
    border: none !important;
    animation: placeHolderShimmer 1s linear infinite forwards;
    background:  #f6f7f8;
    background:  linear-gradient(to right,  #eeeeee 8%,  #dddddd 18%,  #eeeeee 33%);
    background-size:  800px 104px;
    height:  initial;
    position:  relative;
    pointer-events: none;
    cursor: not-allowed;
}
.loading *{
    opacity: 0;
    visibility: hidden;
}
.empty{
    margin: 45px auto;
    text-align: center;
}
.empty h3{
    margin: 15px auto 10px;
}
.salin{
    cursor: pointer;
    color: var(--hijau);
}
.yellowBox , .redBox , .greenBox{
    display: inline-block;
    padding: 3px;
    border-radius: 3px;
    width: max-content;
    min-width: 21px;
    text-align: center;
}
.yellowBox {
    background-color: #ffed99;
}
.redBox{
    background-color: #ff8585;
}
.greenBox{
    background-color: #00ead3;
}
.soldout{
    position: relative;
}
.soldout::after{
    content:'Barang Terjual Habis';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255,0.82);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}
.notif{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin: 25px auto;
    padding: 10px 30px;
    width: max-content;
    background-color: #DEF2F1;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    box-shadow: var(--shadow);
    animation: munculdariatas 300ms cubic-bezier(0.18, 0.89, 0.32, 1.28) forwards;
    z-index: 10000000;
}
.loadimage{
    animation: imageAnim 400ms ease-in-out;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ======== ANIMATION ======== */

@keyframes placeHolderShimmer {
    0% {
     background-position:  -468px 0;
    }
    100% {
    background-position:  468px 0;
    }
}
@keyframes munculdariatas {
    from{
        opacity: 0;
        transform: translateY(-150%)  scale(0.8)
    }
    to{
        opacity: 1;
        transform: translateY(0)  scale(1)
    }
}
@keyframes imageAnim {
    from{
        filter: blur(8px);
    }
    to{
        filter: blur(0);
    }
}

/* ======== MEDIA QUERY ======== */

@media only screen and (max-width: 800px) {
    header{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    header h1{
        text-align: center;
    }
    header img{
        width: 100%;
    }
    nav .webName h3{
        display: none;
    }
}
@media only screen and (max-width: 500px) {
    nav .sumCart{
        display: none;
    }
    .product-c{
        height: 150px;
        margin: 10px 0;
    }
    .product-c .labelProduct{
        flex-direction: column;
        gap: 10px;
        width: 100%;
        align-items: flex-start;
    }
    .product-c .labelProduct > *:last-child{
        align-self: flex-end;
    }
    .checkoutpage{
        grid-template-columns: 1fr;
    }
    .atasorder{
        flex-direction: column;
    }
}
@media only screen and (max-width: 420px) {
    .box-product{
        grid-template-columns: 100%;
        grid-template-rows: 135px;
    }
    .product{
        max-width: none;
        width: 100%;
        flex-direction: row;
    }
    .product .productImage{
        width: 120px;
    }
    .atascari:first-child{
        flex-direction: column;
        align-items: flex-start;
    }
    .atascari:first-child > .flex-right{
        align-self: flex-end;
    }
    .atasorder .totpes{
        flex-direction: column;
        align-items:flex-start;
        width: 100%;
    }
    footer .flex-between{
        flex-direction: column;
        gap: 0;
    }
    footer .flex-between > div:last-child{
        text-align: left;
        max-width: 100%;
    }
}